body {
    font: 20px Arial, sans-serif;
}


.navbar {
    background-color: bisque;
}

.quem-somos {
    color: black;
}

.padding  {
    padding-bottom: 30px;
    padding-top: 30px;
}

.margin {
    margin-bottom: 40px;
}

.parceiros {
    background-color: bisque;
}

.bg-footer {
    background-color: bisque;
}
